#one
{
background-color: #7DE6B1;
height:80px; 
}
#mainMenu
{
width:40%;
height:400px;

top:13%;
}
#title
{
	background:gray;
}
ol.m{list-style-type: lower-alpha;}
nav ul ol{
		width: 200px;
	
		background: 1px solid #ccc;
		display: none;
		}
		nav ul li:hover > ol{
			display: block;
		}
nav ul ol li a
{
	color: black;
	text-decoration: none;
}
nav ul ol li a:hover
{
	color: white;
	
}
#copyright
{
    background-color:#7DE6B1;height:5%;width: 100%;position: absolute;

}
#tutorial
{
    float:right;position: absolute;left:40%;background-color:#DBEEED;height:407px;width: 60%;top:13.3%;
}
#p1
{
 padding-left: 4px;font-size:18px;
}
#font
{
    font-family:comic sans ms;font-size:15px;
}
#one p
{
    padding-top: 22px;padding-left: 10px;
}